.control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control__btns {
  display: flex;
}

.control__btn {
  border: none;
  font-size: 16px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition: color .1s;
}

.control__btn:not(:last-of-type) {
  margin-right: 25px;
}

.control__btn:hover {
  color: #0984e3;
}

.control__btn:active {
  color: #5caae6;
}

.control__form {
  position: relative;
  margin-left: 30px;
}

.control__form input.no-found {
  border: 1px solid red;
}

.control__no-found {
  position: absolute;
  left: 5px;
  bottom: -20px;
  font-size: .75em;
  color: red;
  background-color: rgba(255, 255, 255, 1);
}

.control__form>input {
  padding: 5px 0px 5px 5px;
  outline: none;
  font-size: 16px;
}

.control__loader {
  position: absolute;
  width: 16px !important;
  height: 16px !important;
  bottom: -20px;
  left: 5px;
  border: 5px solid #74b9ff !important;
  border-top: 5px solid #0984e3 !important;
}

.control__btn-search {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  color: #fff;
  background-color: #74b9ff;
  cursor: pointer;
  transition: background-color .1s;
}

.control__btn-search:hover {
  background-color: #0984e3;
}
