.forecast {
  width: 375px;
  height: 225px;
}

.forecast__days {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.forecast__day {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast__day:not(:last-of-type) {
  margin-right: 30px;
}

.forecast__date {
  color: #939cb0;
}

.forecast__icon {
  margin: 5px 0px;
  width: 64px;
  width: 64px;
}